body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #f3cf94;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  z-index: -1;
}
#profile {
  position: absolute;
  top: -10;
  left: -10;
  width: 100%;
  height: 100%;
  margin: auto;
  touch-action: manipulation;
}

.password {
position: absolute;
top: 50%;
width: 200px;
height: 28px;
left: 43.5%;
border-radius: 6px;
}

.inputname {
position: absolute;
top: 45%;
width: 200px;
height: 28px;
left: 43.5%;
border-radius: 6px;
}

.savename {
position: absolute;
top: 55%;
width: 210px;
height: 28px;
left: 43.5%;
border-radius: 6px;
background-color: rgb(35, 34, 34);
color:white;

}

.logname {
  position: fixed;
  top: 255px;
  right: -187px;
  width: 200px;
  height: 50px;
  width: 400px;
  height: 400px;
  color: rgb(52, 51, 51);
  font-size: 25px;
  font-family:'Arial Narrow Bold', sans-serif;
}

.myProfile {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px;
  height: 200px;
  margin-bottom: -10px;
  margin-left: -10px;
  border-radius: 10%;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  border: #000000;
  border-radius: 4px;
  opacity: 80%;
  border-color: rgb(205, 227, 247);
  z-index: 0;
}

#Userpicture{
  width: 183px;
  height: 181px;
  margin-left: 84.3%;
  margin-top: 60px;
  display: block;
}


.myProfile:hover{
  opacity: 55%;
  cursor:pointer;
}

#creditpoints { 
  position:absolute;
  top:40px;
  left:40px;
}

#Namelogin {
  position: absolute;
  top: 293px;
  right: 42%;
  width: 219px;
  height: 50px;
  border-radius: 5px;
}

.thumbsup {
  font-size: 36px;
  position: absolute;
  color: red;
  left: 30px;
  top: 5px;
  border-radius: 11px ;
  background-color: #a7afae;
}

.thumbsup:hover{
  background-color:#7fc1b9;
}

#points {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.point {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-bottom: -10px;
  margin-left: -10px;
  border-radius: 50%;
  opacity: 1;
  transition-property: left, bottom, width, height, margin-bottom, margin-left, opactity;
  transition-duration: 400ms;
}

.point.user {
  position: absolute;
  background-color: #527871;}

.point.paul {
  position: absolute;
  background-color: mediumslateblue;
}

.point.luisa {
  position: absolute;
  background-color: turquoise;
}

.point.breathe {
  width: 80px;
  height: 80px;
  margin-bottom: -40px;
  margin-left: -40px;
  opacity: 0.5;
}

.accuracy.user {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #527871;
  opacity: 0.25;
}

#text-fields {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.text-field {
  font-size: 1em;
  padding: 2px;
}

.text-field.user {
  color: #527871;
}

.text-field.paul {
  color: mediumslateblue;
}

.text-field.luisa {
  color: rgb(3, 123, 111);
}