body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #F9F0E2;
  font-family: Helvetica, sans-serif;
}
#profile {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  touch-action: manipulation;
}
.myProfile {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 100px;
  height: 100px;
  margin-bottom: -10px;
  margin-left: -10px;
  border-radius: 10%;
  opacity: 1;
  background-color: white;
  transition-property: left, bottom, width, height, margin-bottom, margin-left, opactity;

}

#creditPoint {
  position: absolute;
  top: 40px;
  left: -50px;
  color: white;
}

#AddPoints{
  position: absolute;
  top: 170px;
  right: 40px;
  color: white;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px 10px;
  border-style: none;
  background-color: #527871;
}

#points {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.point {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-bottom: -10px;
  margin-left: -10px;
  border-radius: 50%;
  opacity: 1;
  transition-property: left, bottom, width, height, margin-bottom, margin-left, opactity;
  transition-duration: 400ms;
}

.point.user {
  background-color: #527871;
}

.point.paul {
  background-color: mediumslateblue;
}

.point.luisa {
  background-color: turquoise;
}

.point.breathe {
  width: 80px;
  height: 80px;
  margin-bottom: -40px;
  margin-left: -40px;
  opacity: 0.5;
}

.accuracy.user {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #527871;
  opacity: 0.25;
}

#text-fields {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.text-field {
  font-size: 1em;
  padding: 2px;
}

.text-field.user {
  color: #527871;
}

.text-field.paul {
  color: mediumslateblue;
}

.text-field.luisa {
  color: turquoise;
}