#start-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F9F0E2;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  z-index: 1;
}

#start-screen h1 {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 20%;
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1.666em;
}

#start-screen p {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  bottom: 20%;
  width: 100%;
  padding: 0.5em 2em;
  text-align: center;
  font-size: 1em;
}

#start-screen p.error {
  color: #f00;
  font-style: italic;
}